quart
hypercorn
brainfuck-interpreter
git+https://github.com/Rapptz/discord.py
qrcode
pillow
pynacl
python-dotenv
git+https://github.com/PythonistaGuild/Wavelink
python-dateutil
git+https://github.com/johnwmillr/LyricsGenius.git
colorama
beautifulsoup4
parsedatetime
StringProgressBar
jishaku
mystbin-py
roblox
git+https://github.com/Rapptz/asqlite
