brainfuck-interpreter
git+https://github.com/Rapptz/discord.py
qrcode
pillow
pynacl
wavelink
python-dateutil
git+https://github.com/johnwmillr/LyricsGenius.git
colorama
beautifulsoup4
parsedatetime
StringProgressBar
jishaku
mystbin-py
roblox
git+https://github.com/Rapptz/asqlite
git+https://github.com/AmanoTeam/duckpy
toml
