quart
hypercorn
brainfuck-interpreter
git+https://github.com/Rapptz/discord.py
youtube-dl
qrcode
pillow
pynacl
python-dotenv
git+https://github.com/PythonistaGuild/Wavelink
lavalink
git+https://github.com/johnwmillr/LyricsGenius.git
colorama
beautifulsoup4
aiofiles
StringProgressBar
jishaku
